*, *::before, *::after {
    box-sizing: border-box;
}

section {
    margin:0;
    padding:0;
}

h2 {
    margin-bottom: 50px;
}

.body-style {
    padding: 10%;
    margin-top: 90px;
}

.header {
    margin-bottom: 30px;
}

.hide {
    display: none;
    position: relative;
    bottom: -500px;
    left: -500px;
}

.columnstyle {
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

#judge {
    margin-top: 50px;
    font-size: 20px;
    color: #8B8787;
}

#initials {
    margin-left: 6px;
    margin-right: 6px;
}

#player-scores {
    background-color: #E3F6F6;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: left;
}